table {
    font-family: sans-serif;
    width: 100%;
    
}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    word-break: break-all;
}

th {
    text-align: center;
}

.contributors_body {
    background-color: black;

    color: white;
}

h1 {
    text-align: center;
    background-color: green
}

h3 {
    text-align: center;
    background-color: darkgreen
}

tr {
    background-color: #dddddd;
    color: black
}