* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    scroll-behavior: smooth;
    min-height: 100vh;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    background-color: #D8E3D8;
    height: 50px;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #314431;
    gap: 30px;
}
.navbar li {
    list-style: none;
    padding-top: 12px;
    font-weight: 800;
}
#title {
    border-color: black;
    border-radius: 10px 100px / 120px;
    border-style: groove;
    border-width: 7px;
    color: #314431;
    height: 60px;
    width: 310px;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
}
.shortDescr {
    text-align: center;
    font-style: italic;
}
.main {
    display: flex;
    flex-direction: row;
    padding: 30px 100px;
    gap: 400px;
}
.contents {
    padding-top: 50px;
}
.contents h2 {
    padding-bottom: 10px;
    position: relative;
    left: 200px;
}
.contents ul {
    position: relative;
    left: 200px;
}
.contents li {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 2;
}
.img {
    text-align: center;
    margin: 10px 0;
}
.img img {
    max-width: 300px;
    padding: 10px 0;
}
.section {
    padding: 50px 100px;
}
.section h2 {
    font-weight: 500;
    color: #282828;
}
.section p, .section li {
    line-height: 2;
    color: #5e5e5e;
    position: relative;
    left: 10px;
    font-size: 17px;
}
.section li {
    position: relative;
    left: 70px;
}
.section pre {
    border: 2px solid black;
    padding: 10px;
    margin: 20px auto;
    width: 400px;
    font-family: monospace;
}
.section span {
    color: black;
    font-weight: 600;
}
@media (max-width: 768px) {
     body {
        width: 100vw;
        overflow-x: hidden;
     }
    .navbar ul {
        gap: 15px;
    }
    #title {
        width: 260px;
    }
     .main {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }
    .contents {
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .contents h2, .contents ul {
        position: static;
        left: auto;
        margin: 0 auto;
    }
    .section {
    padding: 30px;
    }
    .section li {
    position: static;
    left: auto;
    margin-left: 0;
    }
    .section pre {
        overflow-x: auto;
        width: 100%;
    }
}